/* .btn-salida {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #008f99;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  outline: none;
}

.btn-salida:hover {
  background-color: #00607d;
  transform: scale(1.05);
}

.btn-salida:active {
  background-color: #005d45;
  transform: scale(0.98);
} */
