// styles.scss

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

$primary: #009970;

$custom-colors: (
  "primary": $primary,
);

$custom-spacers: (
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 9,
  10: $spacer * 10,
);

$enable-negative-margins: true;

$theme-colors: map-merge($theme-colors, $custom-colors);
$spacers: map-merge($spacers, $custom-spacers);

@import "../../node_modules/bootstrap/scss/bootstrap";
