---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Inicio">
    <h1 hidden>Cementerio Santa Rosa, Camposanto Santa Rosa, Cementerio PNP, Cementerio policia nacional del Peru</h1>
    
</Layout>