---
import Hero from '@/components/Hero.astro'
import MapaInteractivo from '@/components/MapaInteractivo'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Inicio">
    <Hero>
        <h2 class="z-2">Parque Ecológico Camposanto <br> Santa Rosa de Lima</h2>
    </Hero>
    <h1 hidden>Cementerio Santa Rosa de Lima,Parque Ecologico Camposanto Santa Rosa de Lima, Cementerio PNP, Cementerio policia nacional del Peru</h1>
    <div class="container my-5">
        <MapaInteractivo client:visible/>
    </div>

</Layout>