---
import Hero from "@/components/Hero.astro"
import Layout from "@/layouts/Layout.astro"
import { SignIn } from "auth-astro/components"
import { getSession } from "auth-astro/server"
const session = await getSession(Astro.request)
---

<Layout title="Inicio de sesion">
  {session?.user && <script>window.location.href = "/"</script>}
  <Hero image="/hero.webp">
    <form class="mx-auto z-1 bg-white p-3 rounded-4" style="width: 400px;">
      <h3 class="text-center text-success fw-bold">Iniciar sesion</h3>
      <hr class="border border-primary mx-3 mt-0" />
      <div class="mb-3">
        <label for="inputUser" class="form-label text-dark">
          Nombre de usuario
        </label>
        <input type="email" class="form-control" id="inputUser" />
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label text-dark">
          Contraseña
        </label>
        <input type="password" class="form-control" id="inputPassword" />
        <div class="form-text mt-0">Olvido su contraseña?</div>
      </div>
      <div class="d-flex flex-column align-items-center gap-2">
        <SignIn
          class={"p-1 d-flex align-items-center gap-2 btn btn-primary text-white fw-bold"}
          provider="google"
        >
          Con Google
          <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 2a9.96 9.96 0 0 1 6.29 2.226a1 1 0 0 1 .04 1.52l-1.51 1.362a1 1 0 0 1 -1.265 .06a6 6 0 1 0 2.103 6.836l.001 -.004h-3.66a1 1 0 0 1 -.992 -.883l-.007 -.117v-2a1 1 0 0 1 1 -1h6.945a1 1 0 0 1 .994 .89c.04 .367 .061 .737 .061 1.11c0 5.523 -4.477 10 -10 10s-10 -4.477 -10 -10s4.477 -10 10 -10z"
            ></path>
          </svg>
        </SignIn>
        <button type="submit" class="btn btn-primary text-white fw-bold">
          Entrar
        </button>
      </div>
    </form>
  </Hero>
</Layout>
