---
import Layout from "@/layouts/Layout.astro"
import CrearDifunto from "@/components/CrearDifunto"
import useAuthStore from "@/stores/authStore"

const authCookie = Astro.cookies.get("auth_token")?.value
const authStore = useAuthStore.getState()

if (authStore.isAuthenticated === false) {
  return Astro.redirect("/")
}
---

<Layout title="">
  {
    authStore.isAuthenticated === true && (
      <h1>Administrar cuenta</h1>
      <h2>Agregar difunto</h2>
      <CrearDifunto
        correo={authStore.user?.correo}
        token={authCookie}
        client:load
      />
    )
  }
</Layout>
