---
import ReservarMisa from "@/components/ReservarMisa"

const authToken = Astro.cookies.get("auth_token")?.value
---

<div
  class="modal fade"
  id="formReservaMisa"
  tabindex="-1"
  aria-labelledby="formModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formModalLabel">Solicitud de misa</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
        </button>
      </div>
      <ReservarMisa client:load token={authToken} />
    </div>
  </div>
</div>
