---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Creamaciones">
  <div class="bg-success uwu text-light">
    <div class="container xd">
      <div class="waza">
        <a href="/servicios" class="text-decoration-none">
          <i class="bi bi-arrow-left"></i>
          Regregar
        </a>
        <h1>Servicios de cremacion</h1>
        <p>
          Nuestro servicio de cremación garantiza un proceso digno y respetuoso,
          adaptado a las necesidades de cada familia, ofreciendo tranquilidad y
          soluciones personalizadas.
        </p>
        <!-- <button id="reserva" data-bs-toggle="modal" data-bs-target="#formModal">Reservar</button> -->
      </div>
      <div class="ppp">
        <img src="/servicios/cremacion.png" alt="" />
      </div>
    </div>
    <!-- <i class="bi bi-arrow-down-circle-fill"></i> -->
  </div>
</Layout>

<style>
  .uwu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .xd {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0 0 0;
  }
  .ppp {
    flex-shrink: 1;
    width: 50%;
    & img {
      width: 100%;
      height: auto;
      border-radius: 6px;
    }
  }
  .waza {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    & a {
      position: absolute;
      top: 0;
      margin-bottom: auto;
      width: fit-content;
      color: #f5f5f5;
    }
    & h1 {
      font-family: "Rubik", system-ui;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }

  @media (max-width: 991.98px) {
    .xd {
      flex-direction: column;
      text-align: center;
      & .waza {
        width: 100%;
        & a {
          left: 0.5rem;
        }
        & h1 {
          margin: 1.5rem 0 0 0;
        }
        & #reserva {
          margin: 0 auto 1rem auto;
        }
      }
      & .ppp {
        padding: 1rem;
        width: 100%;
      }
    }
    .uwu {
      clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    }
  }
</style>
