---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Funerarias">
  <div class="bg-success uwu text-light" style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);">
    <div class="container xd">
        <div class="waza">
            <a href="/servicios" class="text-decoration-none">
                <i class="bi bi-arrow-left"></i>
                Regregar
            </a>
                <h1>Servicios funerarios</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium corporis sint blanditiis molestias quibusdam nesciunt quisquam, sed debitis laborum doloremque.</p>
                <!-- <button>Reservar</button> -->
        </div>
        <img src="/servicios/funerarias.png" alt="">
    </div>
    <i class="bi bi-arrow-down-circle-fill"></i>
</div>
<br><br><br><br><br><br><br><br><br><br>
</Layout>
<style>
      .bi-arrow-down-circle-fill{
        font-size: xx-large;
        margin: 1rem auto;
    }
    .popo{
        text-align: center;
        z-index: 10;
    }
    .uwu{
        height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .xd{
        display: flex;
        justify-content: space-between;
    }
    img{
        height: 20rem;
        border-radius: 6px;
    }
    .container{
        padding: 8rem 0 0 0;
    }
    .waza{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 35rem;
        & a{
            position: absolute;
            top: 0;
            margin-bottom: auto;
            width: fit-content;
            color: #f5f5f5;
        }
        & h1{
            font-family: 'Rubik', system-ui;
            text-transform: uppercase;
            font-size: 3.5rem;
            font-weight:600;
        }
    }
    button {
        color: white;
        width: 10rem;
        padding: .5rem 1rem;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid white;
        border-radius: 8px;
        backdrop-filter: blur(4px);
        overflow: hidden;
        transition: transform 200ms ease, background-color 200ms ease;
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            transition: left 300ms ease;
            z-index: -1;
            background-color: rgba(255, 255, 255, 0.4);
            left: -85%;
            width: 100%;
            height: 150%;
            transform: rotate(45deg);
        }
        &:hover{
            transform: translateY(.3rem);
            &::before{
                left: 100%;
            }
        }
    }
</style>