---
import FlipCard from "@/components/FlipCard.astro"
import Separacion from "@/components/Separacion.astro"
import Layout from "@/layouts/Layout.astro"
import ReservarMisaModal from "@/components/ReservarMisaModal.astro"
import ButtonModal from "@/components/ButtonModal.astro"
---

<Layout title="Reserva de misas">
  <span id="top"></span>
  <div class="bg-success uwu text-light">
    <div class="container xd">
      <div class="waza">
        <a href="/servicios" class="text-decoration-none">
          <i class="bi bi-arrow-left"></i>
          Regregar
        </a>
        <h1>Reserva de misa</h1>
        <p>
          Reserve una misa en honor a sus seres queridos en un ambiente solemne
          y respetuoso. Todas las misas tienen una duración de 1 hora y se
          llevan a cabo en nuestra iglesia con capacidad para 200 personas.
          Nuestro horario disponible es de 6:00 a.m. a 8:00 p.m., con opciones
          adaptadas a sus necesidades y preferencias.
        </p>
        <ButtonModal texto="Reservar"/>
      </div>
      <div class="ppp">
        <img src="/servicios/misa.png" alt="" />
      </div>
    </div>
    <i class="bi bi-arrow-down-circle-fill"></i>
  </div>
  <ReservarMisaModal/>
  <main class="container mb-3">
    <Separacion texto="Tipos de misa" />
    <section class="pedo">
      <FlipCard
        title="Misas de Réquiem"
        description="Misa solemne ofrecida en memoria de un ser querido fallecido, rogando por su descanso eterno."
        img="/servicios/misas/misa-requiem.jpg"
        icon="/cross.svg"
        finalText="Conmemora a tu ser querido con una misa solemne, uniendo a la familia en oración y consuelo espiritual."
        features={["Precio: S/ 350", "Incluye música litúrgica solemne"]}
      />
      <FlipCard
        title="Misa de Aniversario"
        description="Misa especial para recordar el aniversario del fallecimiento de un ser querido y pedir por su descanso eterno."
        img="/servicios/misas/misa-aniversario.jpg"
        icon="/cross.svg"
        finalText="Recuerda a un ser querido en su aniversario, brindando unión familiar y consuelo a través de la fe."
        features={["Precio: S/ 300", "Opción de lecturas personalizadas"]}
      />
      <FlipCard
        title="Misa de Cuerpo Presente"
        description="Servicio religioso realizado durante el velorio, acompañando a los familiares y pidiendo por el eterno descanso del difunto."
        img="/servicios/misas/misa-cuerpo.jpg"
        icon="/cross.svg"
        finalText="Despedida espiritual y momento de oración en compañía familiar antes del entierro."
        features={["Precio: S/ 500", "Acompañamiento espiritual completo"]}
      />
      <FlipCard
        title="Misa de Acción de Gracias"
        description="Ceremonia para agradecer por bendiciones recibidas, salud, o acontecimientos especiales en la vida."
        img="/servicios/misas/misa-novenario.jpg"
        icon="/cross.svg"
        finalText="Expresa gratitud en comunidad, fortaleciendo la fe y reconociendo las bendiciones recibidas."
        features={[
          "Precio: S/ 200",
          "Incluye música y oraciones personalizadas",
        ]}
      />
      <FlipCard
        title="Misa de Intenciones Especiales"
        description="Servicio ofrecido para orar por intenciones personales o familiares, como salud, paz o descanso de un ser querido."
        img="/servicios/misas/misa-especial.jpg"
        icon="/cross.svg"
        finalText="Eleva oraciones específicas en comunidad, conectándote espiritualmente para pedir por tus intenciones."
        features={[
          "Precio: S/ 250",
          "Incluye lecturas adaptadas a las intenciones",
        ]}
      />
    </section>
  </main>
</Layout>

<style>
  #top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #009970;
  }
  .pedo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  .modal-title {
    text-transform: uppercase;
    font-weight: bold;
  }
  #floatingComen {
    min-height: 7rem;
  }
  .bi-arrow-down-circle-fill {
    font-size: xx-large;
    margin: 1rem auto;
    animation: bubble 1.5s infinite ease-in-out;
  }
  @keyframes bubble {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .uwu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
  }
  .xd {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0 0 0;
  }
  .ppp {
    flex-shrink: 1;
    & img {
      width: 100%;
      height: auto;
      border-radius: 6px;
    }
  }
  .waza {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35rem;
    & a {
      position: absolute;
      top: 0;
      margin-bottom: auto;
      width: fit-content;
      color: #f5f5f5;
    }
    & h1 {
      font-family: "Rubik", system-ui;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
  @media (max-width: 991.98px) {
    .xd {
      flex-direction: column;
      text-align: center;
      & .waza {
        width: 100%;
        & a {
          left: 0.5rem;
        }
        & h1 {
          margin: 1.5rem 0 0 0;
        }
      }
      & .ppp {
        padding: 1rem;
      }
    }
    .uwu {
      clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    }
  }
</style>
