---
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <!-- <link rel="stylesheet" href="/src/styles/styles.css" /> -->
        <title>Document</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    @font-face {
        font-family: "Quicksand";
        src: url("/fonts/Quicksand-VariableFont.ttf") format("truetype");
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    body {
        font-family: "Quicksand", system-ui;
    }
</style>
