---
interface Props {
    title: string
}

const { title } = Astro.props

import Footer from '@/components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import Navbar from '@/components/Navbar.astro'
const page = Astro.url.pathname
const isIndex = page === '/' || page === '/login' || page === '/nosotros'
const isAdmin = page === '/administrador'
console.log(isAdmin)
---

<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        
        <link rel="stylesheet" href="/src/styles/styles.css"/>
        <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
        <script type="module" src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        <title>Camposanto Santa Rosa | {title}</title>
        <ViewTransitions/>
    </head>

    <body>
        <Navbar page={page}/>
        <main class={isIndex ? "" : (isAdmin ? "d-flex" : "container mt-6")}>
            <slot />
        </main>
        <Footer page={page} />
    </body>
    
</html>

<!-- <style is:global>

</style> -->